<footer class="container">
    <div class="footer-container">
        <h1 class="container title">adi-speaks</h1>
        <h3 class="container sub-title">a modern, fast and stylish TextToSpeech converter maded by using python and google gtts</h3>

        <div class="container social">
            <p>Follow Me On Other Platforms Also</p>
            <div class="social-links">
                <div class="wrapper">
                    <a class="link" href="https://www.instagram.com/adithyana2005/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="link" href="https://www.youtube.com/channel/UCOQwqX34eeM_dfC0tdAwWyQ" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="link" href="https://www.github.com/AdithyanA2005" target="_blank"><i class="fab fa-github-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
