:root {
  --color-purple: rgb(99 102 241);
  --color-light: rgb(30 41 59);
  --color-dark: rgb(15 23 42);
  --color-white: white;
  --color-cyan: #17a2b8;
  --color-blue: #1976d2;
  --font-slant: "Lobster", cursive;
  --font-normal: "Cabin", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-normal);
  background-color: var(--color-dark);
}

.app {
  width: 80vw;
  margin: auto;
  padding-top: 7rem;
}

.container {
  padding: 2rem;
  background-color: var(--color-light);
}

.header {
  width: 18rem;
  height: 18rem;
  fill: var(--color-purple);
  outline: 0.3rem solid var(--color-purple);
  border: 1.5rem solid var(--color-white);
  border-radius: 30px 140px 30px 140px;
  background-color: var(--color-dark);
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  z-index: 100;
  background-color: var(--color-light);
}
.navbar .container {
  width: 70%;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
}
.navbar .container .navbar-brand {
  color: var(--color-purple);
  font-size: 2rem;
  letter-spacing: 4px;
  font-family: var(--font-slant);
}

.main-app-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-app-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-app-page form .input-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-app-page form .input-area .text-lable {
  color: var(--color-purple);
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.main-app-page form .input-area .text-area {
  height: 7rem;
  width: 96%;
  padding: 1.5%;
  outline: 0;
  border: 0.1rem solid var(--color-purple);
  border-radius: 5px;
  color: var(--color-cyan);
  background-color: var(--color-light);
  font-size: 1.2rem;
}
.main-app-page form .action-btns {
  display: flex;
  justify-content: space-between;
}
.main-app-page form .action-btns .action-btn {
  border: 0;
  outline: 0;
  padding: 0.45rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1.5px;
}
.main-app-page form .action-btns .action-btn:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  backface-visibility: hidden;
}
.main-app-page form .action-btns .clear-btn {
  width: 3rem;
  background-color: var(--color-cyan);
  color: var(--color-white);
}
.main-app-page form .action-btns .clear-btn:hover {
  transform: rotate(-1deg);
  background-color: #C84B31;
}
.main-app-page form .action-btns .submit-btn {
  width: 7rem;
  color: var(--color-white);
  background-color: var(--color-purple);
}
.main-app-page form .action-btns .submit-btn .submit-btn:hover {
  transform: rotate(1deg);
  background-color: #519872;
}
.main-app-page .download-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--color-light);
}
.main-app-page .download-container .text-lable {
  color: var(--color-purple);
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.main-app-page .download-container audio {
  width: 100%;
}
.main-app-page .download-container audio::-webkit-media-controls-panel {
  background-color: var(--color-purple);
  opacity: 0.9;
}

.home-page .get-started {
  display: flex;
  justify-content: space-between;
}
.home-page .get-started .logo {
  display: flex;
  justify-content: center;
}
.home-page .get-started .info {
  width: 50%;
  padding: 1.5rem;
  display: flex;
  background: var(--color-dark);
  flex-direction: column;
  justify-content: space-between;
}
.home-page .get-started .info .title {
  color: var(--color-blue);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  text-decoration: overline underline;
  text-underline-position: under;
}
.home-page .get-started .info .sub-title {
  color: var(--color-white);
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  min-height: 7rem;
  height: 8rem;
}
.home-page .get-started .info .action-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-page .get-started .info .action-btns .start-btn {
  padding: 0.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-purple);
}
.home-page .get-started .info .action-btns .about-btn {
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-cyan);
}

.about-page .section {
  display: flex;
  justify-content: space-between;
}
.about-page .section .logo {
  display: flex;
}
.about-page .section .info {
  background: green;
  width: 50%;
  gap: 1rem;
  padding: 1.5rem;
  display: flex;
  background: var(--color-dark);
  flex-direction: column;
  justify-content: space-between;
}
.about-page .section .info .data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-page .section .info .data .title {
  color: var(--color-blue);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 2rem;
}
.about-page .section .info .data .description {
  color: var(--color-white);
  letter-spacing: 3px;
  font-family: var(--font-slant);
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 100;
}
.about-page .section .info .social-links {
  display: flex;
  justify-content: space-around;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: var(--color-light);
}
.about-page .section .info .social-links .link {
  font-size: 1.8rem;
  transition: 0.5s ease;
  color: var(--color-cyan);
}
.about-page .section .info .social-links .link:hover {
  transform: scale(1.3);
  color: var(--color-blue);
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 8rem;
  background: var(--color-light);
  bottom: 0;
}
footer .footer-container {
  gap: 1rem;
  width: 80vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--color-dark);
}
footer .footer-container .title {
  color: var(--color-purple);
  text-transform: capitalize;
  text-align: center;
  font-family: var(--font-slant);
  font-size: 2rem;
  letter-spacing: 5px;
  text-decoration: underline;
  text-underline-position: under;
  padding: 0.75rem;
}
footer .footer-container .sub-title {
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font-slant);
  font-size: 1.1rem;
  color: var(--color-white);
  padding: 0.75rem;
  letter-spacing: 3px;
  font-weight: 100;
}
footer .footer-container .social {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
}
footer .footer-container .social p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-purple);
}
footer .footer-container .social .social-links {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .footer-container .social .social-links .wrapper {
  width: 22rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20px;
  background: white;
}
footer .footer-container .social .social-links .wrapper .link {
  font-size: 1.75rem;
  color: var(--color-purple);
  transition: 0.5s ease;
}
footer .footer-container .social .social-links .wrapper .link:hover {
  transform: scale(1.3);
  color: var(--color-blue);
}

/*# sourceMappingURL=style.css.map */
