{% extends 'base.html' %}
{% block body %}

<div class="about-page">
    <div class="section container">
        <div class="logo">
            {% include 'components/author_header.html' %}
        </div>

        <div class="info">
            <div class="data">
                <h1 class="title">about the author</h1>
                <hr>
                <div class="description">
                    <b>Hello!</b> I am Adithyan A </h5>
                    <br>
                    Along with being the cretor of this website, I am also a 11<sup>th</sup> grade student from Kerala, <b>India</b>
                    <br>
                    <br>
                    You can connect with me through diffrent platforms, Links Given Below
                </div>
            </div>
            <div class="social-links">
                <a class="link" href="https://www.instagram.com/adithyana2005/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="link" href="https://www.youtube.com/channel/UCOQwqX34eeM_dfC0tdAwWyQ" target="_blank"><i class="fab fa-youtube"></i></a>
                <a class="link" href="https://www.github.com/AdithyanA2005" target="_blank"><i class="fab fa-github-alt"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
