{% extends 'base.html' %}
{% block body %}

<div class="main-app-page ">
    <form class="container " action="{{ url_for('convert') }}" method="get">
        <div class="input-area">
            <h4 class="text-lable">Text To Speech Converter</h4>
            <textarea class="text-area" id="main-content" type="text" name="text_to_convert" placeholder="Enter Text Here">{{get_text}}</textarea>
        </div>
        <div class="action-btns">
            <button type="submit" class="action-btn submit-btn">Play Audio</button>
            <a href="/converter" type="button" class="action-btn clear-btn">Clear</a>
        </div>
    </form>

    <div class="container download-container">
        <h4 class="text-lable">Play | Download Audio</h4>
        <audio controls autoplay><source class="audio-src" src="{{ url_for('static', filename='audios/'+get_audio) }}" ></audio>
    </div>
</div>

{% endblock body %}
