{% extends 'base.html' %}
{% block body %}

<div class="home-page">
    <div class="get-started container">
        <div class="logo">
            {% include 'components/header.html' %}
        </div>
        <div class="info">
            <h1 class="title">adi speaks</h1>    
            <h4 class="sub-title">
                Yo! Nice to see you here <br>
                Use this text to speech converter because it is hassel free <br> 
                Click on Get Started button to Start or Click on About button to see the details
            </h4>
            <div class="action-btns">
                <a href="/converter" class="start-btn">get started</a>
                <a href="/about" class="about-btn">about us</a>
            </div>
        </div>
        
        
        
    </div>
</div>

{% endblock body %}