:root {
  --color-purple: rgb(99 102 241);
  --color-light: rgb(30 41 59);
  --color-dark: rgb(15 23 42);
  --color-white: white;
  --color-cyan: #17a2b8;
  --color-blue:  #1976d2;
  --font-slant: 'Lobster', cursive;
  --font-normal:  'Cabin', sans-serif;
}
